#bdy{
	background-image: url('../img/fond.svg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #CF2A4A;
}
.form-control {
    border:none;
    border-bottom: 1px solid gray;
    padding: 5px 10px;
    outline: none;
    background: rgba(0, 0, 0, 0);
}
.btn{
	background: #ffffff;
	color: #CF2A4A;
	border:none;
	font-weight: bold;

}
#image1{
	margin-top: 5%;
	width: 40vw;
	height: 26vh;
}
#tourist{
	height: 50%;
	width: 50%;
	color: #CF2A4A;
}

i{
	color: #000000;
}