#bdy{
	background-image: url('../img/fond.svg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #CF2A4A;
}
.form-control {
    border: 0;
}
header img{
	width: 50vw;
	height: 20vh;
	margin-top: 5%;
	margin-bottom: 3%;;
	text-align: left;
}