#bdy{
	background-image: url('../img/fond.svg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #CF2A4A;
	margin-bottom: 5%;
}
.form-control {
<<<<<<< HEAD
    border:none;
    border-bottom: 1px solid gray;
    padding: 5px 10px;
    outline: none;
    background: rgba(0, 0, 0, 0);
}
.btn{
	background: #ffffff;
	color: #CF2A4A;

}
#image1{
	width: 40%;
	height: 80%;
}

=======
    border: 0;
}
header img{
	width: 50vw;
	height: 20vh;
	margin-top: 5%;
	margin-bottom: 3%;;
	text-align: left;
}
.btn btn-outline-primary {
	color:  #CF2A4A;
}
>>>>>>> 9716f4640b21d88642ec36373f0f08cf1cf0f874
